{%extends 'base.html'%} 
{% load bootstrap4 %}

{% block content %}

  <div class="">
    {% if projects %}
          <h2 class=" text-center ">Found {{ projects|length }} projects for searched term {{message}}</h2>
    {% else %}
          <h2 class=" text-center">Found 0 projects for the searched term {{message}}</h2>
    {% endif %}
  </div>

  <div class="container-fluid mt-4">
        <div class="row pl-2 pr-2 ">
            {% for project in projects %}
                <div class="col-lg-3">
                    <div class="card-deck">
                        <div class="card">
                          <!-- Card image -->
                          <div class="view overlay zoom">
                              {% if project.image %}
                              <a href="/project/{{project.id}}">
                              <img class="card-img-top" src="{{project.image.url}}" alt="{{ project.title}}" height="300px">
                              </a>
                              {% else %}
                              <a href="/project/{{project.id}}">
                              </a>
                              {% endif %}
                              <a href="/project/{{project.id}}">
                                <div class="mask rgba-black-light">   
                                </div>
                              </a>
                            </div>
                            <div class="card-body  pl-2 ">
                              <h5 class="card-title">Title:<b>{{ project.title }}</b></h5>
                                <small>Posted on: {{project.post_date|date:"d /m/Y"}} </small> 
                            </div>
                            <div class="card-footer">
                              <small class="text-muted">Author: {{project.owner.username}} </small>
                            </div>
                        </div>                   
                      </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}