{% extends 'base.html'%}

{% load static %}

{% block content %}

<div class="pt-4 mt-3"></div>

<!-- projects -->
<div class="container-fluid">
  <div class="">
    <h4 class="text-center" style="font-size:30px;"> Sites of the day </h4>
  </div>
  <div class="row pl-2 pr-2 ml-1 mr-1">
    {% for project in projects %}
    <div class="col-lg-4">
      <div class="card-deck">
        <div class="card mb-2 mt-2">
          <!-- Card image -->
          <div class="view overlay zoom">
            <a href="/project/{{project.id}}">
              <img class="card-img-top" src="{{project.image.url}}" alt="{{ project.title }}" height="300px">
            </a>
            <a href="/project/{{project.id}}">
              <div class="mask rgba-black-light">
              </div>
            </a>
          </div>

          <div class="card-body pr-2 pl-2 pr-2 mr-2">
            <h5 class="card-title">Title: <b>{{ project.title }}</b></h5>
            <small>  Posted on: {{project.post_date|date:"d /m/Y"}}
                </small> 
          </div>
          <div class="card-footer">
            <small class="text-muted">
              Author: {{project.owner.username|upper}} </small>
          </div>
        </div>
      </div>
      <!-- end of card deck  -->
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}